
#mainField {
    height: 500px;
    background: rgba(0, 0, 0, .1);
    width: 90%;
    margin: 20px auto;
    position: relative;
}
.node {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    position: absolute;
}